<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rent Construction Equipment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap-4.1.3/bootstrap.css">
    <link href="../Plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="../Plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="../Content/categories.css">
    <link rel="stylesheet" type="text/css" href="../Content/categories_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Sidebar -->

        <div class="sidebar">

            <!-- Info -->
            <div class="info">
                <div class="info_content d-flex flex-row align-items-center justify-content-start">
                    <!-- Language -->
                    <div class="info_languages has_children">
                        <div class="language_flag"><img src="../Images/flag_english.png" alt="https://www.flaticon.com/authors/freepik"></div>
                        <div class="dropdown_text">english</div>
                        <div class="dropdown_arrow"><img src="../Images/down.png"></div>

                        <!-- Language Dropdown Menu -->
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="language_flag"><img src="../Images/flag_estonia.png" alt="https://www.flaticon.com/authors/freepik"></div>
                                    <div class="dropdown_text">Estonian</div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Currency -->
                    <div class="info_currencies has_children">
                        <div class="dropdown_text">EUR</div>
                        <div class="dropdown_arrow"><img src="../Images/down.png"></div>

                        <!-- Currencies Dropdown Menu -->
                        <ul>
                            <li><a href="#"><div class="dropdown_text">USD</div></a></li>
                        </ul>

                    </div>

                </div>
            </div>

            <!-- Logo -->
            <div class="sidebar_logo">
                <a href="Index">
                    <img src="../Images/logo.png" width="162" height="150">
                </a>
            </div>

            <!-- Sidebar Navigation -->
            <nav class="sidebar_nav">
                <ul>
                    <li><a href="Index">home</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>

            <!-- Search -->
            <div class="search">
                <form action="#" class="search_form" id="sidebar_search_form">
                    <input type="text" class="search_input" placeholder="Search" required="required">
                    <button class="search_button"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <!-- Cart -->
            <div class="cart d-flex flex-row align-items-center justify-content-start">
                <div class="cart_icon">
                    <a href="@Url.Action("Cart", "Web")">
                        <img src="../Images/bag.png" alt="">
                        <div class="cart_num">@Html.Raw((String)ViewBag.cart_num)</div>
                    </a>
                </div>
                <div class="cart_text">Cart</div>
                <div class="cart_price">@Html.Raw((String)ViewBag.cart_price)</div>
            </div>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../Images/categories.jpg" data-speed="0.8"></div>
            <div class="home_container">
                <div class="home_content">
                    <div class="home_title">Rent Construction Equipment</div>
                </div>
            </div>
        </div>

        <!-- Products -->

        <div class="products">

            <!-- Sorting & Filtering -->
            <div class="products_bar">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="products_bar_content d-flex flex-column flex-xxl-row align-items-start align-items-xxl-center justify-content-start">
                                    <div class="product_categories">
                                        <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                            <li class="item_filter_btn" style="cursor: pointer;" data-filter="*">All</li>
                                            <li class="item_filter_btn" style="cursor: pointer;" data-filter=".regular">Regular</li>
                                            <li class="item_filter_btn" style="cursor: pointer;" data-filter=".heavy">Heavy</li>
                                            <li class="item_filter_btn" style="cursor: pointer;" data-filter=".specialized">Specialized</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="products_container grid">
                                @Html.Raw((String)ViewBag.equipment)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="footer_content">
                <div class="section_container">
                    <div class="container">
                        <div class="row">

                            <!-- About -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_about">
                                    <!-- Logo -->
                                    <div class="footer_logo">
                                        <img src="../Images/logo.png" width="162" height="150">
                                    </div>
                                    <div class="footer_about_text">
                                        <p>Sed pellentesque in ligula id dapibus. Integer ligula dui, auctor in lorem facilisis, tincidunt scelerisque ex. Ut cursus nisl mi, eget molestie turpis laoreet a.</p>
                                    </div>
                                    <div class="cards">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li><img src="../Images/card_1.jpg" alt=""></li>
                                            <li><img src="../Images/card_2.jpg" alt=""></li>
                                            <li><img src="../Images/card_3.jpg" alt=""></li>
                                            <li><img src="../Images/card_4.jpg" alt=""></li>
                                            <li><img src="../Images/card_5.jpg" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Questions -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_questions">
                                    <div class="footer_title">questions</div>
                                    <div class="footer_list">
                                        <ul>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Track Orders</a></li>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Jobs</a></li>
                                            <li><a href="#">Shipping</a></li>
                                            <li><a href="#">Partners</a></li>
                                            <li><a href="#">Support</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact -->
                            <div class="col-xxl-3 col-md-6 footer_col">
                                <div class="footer_contact">
                                    <div class="footer_title">contact</div>
                                    <div class="footer_contact_list">
                                        <ul>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Company:</span><div>Test OÜ</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Address:</span><div>Paldiski maantee 203, 13517 Tallinn, Estonia</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>Phone:</span><div>+372 5854 8945</div></li>
                                            <li class="d-flex flex-row align-items-start justify-content-start"><span>E-mail:</span><div>test@test.com</div></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Credits -->
            <div class="credits">
                <div class="section_container">
                    <div class="container">
                        <div class="row">
                            <div class="credits_content d-flex flex-row align-items-center justify-content-end">
                                <div class="credits_text">
                                    Donec fermentum elit vitae vestibulum Class aptent egestas.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Content/bootstrap-4.1.3/popper.js"></script>
    <script src="../Content/bootstrap-4.1.3/bootstrap.min.js"></script>
    <script src="../Plugins/greensock/TweenMax.min.js"></script>
    <script src="../Plugins/greensock/TimelineMax.min.js"></script>
    <script src="../Plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../Plugins/greensock/animation.gsap.min.js"></script>
    <script src="../Plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="../Plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../Plugins/easing/easing.js"></script>
    <script src="../Plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../Plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../Plugins/Isotope/fitcolumns.js"></script>
    <script src="../Scripts/categories.js"></script>
</body>
</html>
